h1 {
  text-align: center;
}

.logIn {
  text-align: center;
}

.transactions-table {
  text-align: center;
}

h3 {
  width: 330px;
  height: 40px;
  margin: 60px auto auto auto;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#131330 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  border-radius: 10px;
  padding: 5px;
}
.record {
  width: 330px;
  height: 80px;
  margin: auto;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  border-radius: 10px;
  padding: 5px;
  
}
.description-record {
  display: inline-block;
  margin-right: 40px;
}
.amount-record {
  display: inline-block;
  margin-left: 10px
}

.inputDebit {
  display: block;
  line-height: 3.5;
  text-align: center;
  margin-top: 60px;
}
input {	
	position:relative;
	font-size: 1.3em;
	padding: 3px;
	display: inline-block;
	border-radius: 10px;
  border: 2px solid #47808a;
}
label {
  margin-right: 10px;
}
.desc-box {
  margin-right: 25px;
}

.currentBalance {
  width: 150px;
  height: 40px;
  margin: 60px auto auto auto;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#f8f54d 0 -3px 0 inset;
  box-sizing: border-box;
  color: #347ae4;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

